<!--
    <p>product-preview works!</p>
-->
<div>
    <ul>
        <li *ngFor="let product of Products" (click)="Details(product)" appHighlight>
            <div>
                <label>Price: </label>
                {{ product?.price | currencyUA }}
            </div>
            <div>
                <label>Name: </label>
                {{ product?.productName }}
            </div>
            <div>
                <label>Description: </label>
                {{ product?.description }}
            </div>
            <div>
                <label>Count: </label>
                {{ product?.count }}
            </div>
        </li>
    </ul>
</div>