<div class="header">
    <label>Login</label>
</div>
<form class="form-control">
    <div class="error" *ngIf="display" >This user does not exist</div>
    <!--
        *ngIf="NoUser"
    -->
    <div class="" style="margin-top: 5%;">
        <!--
            <span class="" *ngIf="display">Wrong Email</span>       

        [hidden]="email.valid || email.untouched"
        -->
        <!--
            <label class=""><b>Enter email:</b></label>
        -->
        <input type="text" class="input-data" placeholder="Email"  required  
            name="email" [(ngModel)]="user.firstName" #firstName="ngModel"/>
        <span class="span-for-input"></span>
        <!--
        name="email" [(ngModel)]="user.Email" #email="ngModel"
        -->
    </div>
    <div class="" style="margin: 1%;">
        <!--
            <span class="" *ngIf="display">Wrong password</span>        

        [hidden]="password.valid || password.untouched"
        -->
        <!--
            <label class=""><b>Enter password:</b></label>
        -->
        <input type="text" class="input-data" placeholder="Password" name="password"
            [(ngModel)]="user.lastName" #lastName="ngModel" />
        <span class="span-for-input"></span>
        <!--
        [(ngModel)]="user.Password" #password="ngModel"
        -->
    </div>
    <div class="" style="margin-top:1%;">
        <input type="submit" value="Log in" class="btn-submit" (click)="LogIn()" />
        <!--
        [disabled]="email.invalid || password.invalid"
        (click)="LogIn()"
        -->
    </div>
</form>
