.form-control {
    display:flex; 
    flex-direction:column;
    align-items: center;
}

.header {
    display:flex; 
    flex-direction:column;
    align-items: center;
    margin: 2%;
    font-size: 32px;
    font-weight: bold;
}

form {
    border: 3px solid #f1f1f1;
    padding: 2%;
}

.span-for-input {
    display: block;
    /*position: absolute;*/
    border-radius: 25px;
    /*bottom: 0;
    left: 0;
    z-index: -1;*/
    /*width: 100%;*/
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(87,184,70, 0.8);
}

.input-data {
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    display: block;
    /*width: 100%;*/
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
}

.btn-submit {
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    /*width: 100%;*/
    height: 50px;
    border-radius: 25px;
    background: #57b846;
    display: flex;    
    justify-content: center;
    align-items: center;
    padding: 0 25px;    
    transition: all 0.4s;
}

.error {
    font-size: 32px;
    font-weight: bold;
    color: red;
}