<header>
    <nav>
        <div>
            <ul>
                <li class="navbar-link">
                    <a href="/">MyShop</a>
                </li>
                <li class="navbar-link">
                    <!--
                        <a href="/">Categories</a>
                        <label>
                            Categories
                            <select>
                                <option>All</option>
                                <option ></option>
                            </select>
                        </label>
                    -->
                </li>
                <li class="navbar-link">
                    <a href="/">Basket</a>
                </li>
            </ul>
        </div>
        <div>
            <input placeholder="Searc product...">
        </div>
        <div class="navbar-link" *ngIf="user">
            <a [routerLink]="'/CustomerView/' + user.id">Cabinet</a>
        </div>
        <div class="navbar-link">
            <a *ngIf="!user" [routerLink]="'/logging'">Log In</a>
            <a *ngIf="user" [routerLink]="'/logout'">Log Out</a>
        </div>
    </nav>
</header>
<main>
    <router-outlet 
        (deactivate)='onDeactivate($event)'
        (activate)='onActivate($event)'
    ></router-outlet>
    <!--
        (onLoggedIn)="onLoggedIn($event)"
    -->
</main>
<footer>
  
</footer>