ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        float: left;
    }
}

/* Reset the default styles for links */
a {
    //display: block;
    padding: 10px;    
    text-decoration: none; /* Remove underlines */
    color: inherit; /* Inherit text color (black) */
}

$navbar-background-color: black;

/* Style your navigation link */
.navbar-link {
    display: inline-block;
    background-color: $navbar-background-color;
    color: white;
    padding: 10px 20px; 
    /* Adjust padding as needed */
    border-radius: 5px; 
    /* Optional: add rounded corners */

    /* Add other styling properties as desired */
}

/* Add hover styles if needed */
.navbar-link:hover {
    background-color: gray; /* Change color on hover */
    /* Add other hover effects as desired */
}
  
nav {
    display: flex;
    justify-content: space-between;
    background-color: $navbar-background-color;
}

input {
    padding: 10px 20px;     
    border-radius: 5px; 
}