<div class="container">
    <div>
        <label>Price: </label>
        {{ product?.price | currencyUA }}
    </div>
    <div>
        <label>Name: </label>
        {{ product?.productName }}
    </div>
    <div>
        <label>Description: </label>
        {{ product?.description }}
    </div>
    <div>
        <label>Count: </label>
        {{ product?.count }}
    </div>
</div>